@media (min-width: 500px) {
    main {
        width: 70%;
    }
}

@media (min-width: 770px) {
    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }
    main {
        width: 50%;
    }
}